[Desktop Entry]
Name=BreakEven Installer
Comment=Installer for BreakEven Client
Exec=breakeveninstaller
Icon=assets/icon.png
Terminal=false
Type=Application
Categories=Utility;